/*COMMENTS*/
/* 07-01-2021: Created file with wrapper, header, content and footer.*/
	

/* Add styles below this*/




.footer{
	/*position: Fixed; this makes it sticky always at the bottom of the page*/
	margin-left: 17%; controlled by main class*/
	width: 100%;
	padding: 0px 0px 10px 0px; /*top,right,bottom, left */
	left: 0;
	bottom: 0;
	background-color: White;
	color: black;
	text-align: left;
  	font-size:8pt;
  	font-style:normal;
	font-family: times,serif;
 }
