/*COMMENTS*/
/* 07-01-2021: Created file with footer, Sidenav.*/
	

/* Add styles below this*/

  .sidenav {
	height: 100%;
	text-align: Left;
  	position: absolute; /*will hold sidenav in place*/
 	 z-index: 1;
  	width: 12%; /*repsonsive:*15*/
	top: 32%;
	left: 1%;
	/*width: 130px;*/
	/*top: 220px;*
  	/*left: 10px;*/
  	background: White;
  	overflow-x: hidden;
  	padding: 0px 0;
	font-family: times,serif;
	/*font-family: Arial, sans-serif;*/
	font-size: 12px;
}

.sidenav a {
   	/*padding: 0px 8px 6px 16px; /*top,right,bottom, left */
	padding: 0% 0% .5% 1.0%; /*top,right,bottom, left */
 	text-decoration: none;
	text-align: Left;
	font-family: times,serif;
  	font-size: 12px;
  	color: #2196F3;
  	display: block;
}

.sidenav a:hover {
  color: #064579;
}


.footer{
	/*position: Fixed; this makes it sticky always at the bottom of the page*/
	/*margin-left: 17%; controlled by main class*/
	width: 100%;
	padding: 0px 0px 10px 0px; /*top,right,bottom, left */
	left: 0;
	bottom: 0;
	background-color: White;
	color: black;
	text-align: left;
  	font-size:8pt;
  	font-style:normal;
	font-family: times,serif;
 }

/*
Site References:
	1. Collapse Ref: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_collapsible
	2. Color Ref: https://blog.hubspot.com/website/change-background-color-html
  	3. Color Picker: https://www.google.com/search?q=html+color+picker&rlz=1C1ONGR_enUS947US947&oq=html+color&aqs=chrome.2.35i39j69i57j0i433j0i20i263l2j0i433j0l3.6575j0j15&sourceid=chrome&ie=UTF-8
	4. Email Ref: https://www.tutorialspoint.com/html/html_email_links.htm
 	5. hero image: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_hero_image
	6. HTML Layout Document: https://www.w3schools.com/html/html_layout.asp
	7. Lists Ref: https://www.w3schools.com/html/tryit.asp?filename=tryhtml_lists_ordered
	8. Side Nav: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_sidenav_fixed	
	9. Side Bar: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_sidenav_fixed2
	10. Style Line: <p style="font-family: times, serif; font-size:12pt; font-style:normal">
	
*/
